| Dependency | Reason for inclusion |
|:----------:|:---------------------|
|  `unittest`| to create and run tests, offering features like test cases |
|  `datetime`| To efficiently manage and compare dates for tasks and deadlines in the application|
|  `unittest`| Testing implementations in this project using automatic test cases |
|  `sys`     | to manipulate the Python runtime environment |
|  `StringIO`| allows capturing the output of print statements in the tests |
